#/app/bootstrap.php.cache
#/app/cache/*
#!app/cache/.gitkeep
#/app/config/parameters.yml
#/app/logs/*
#!app/logs/.gitkeep
#/app/phpunit.xml
#/bin/
#/composer.phar
/vendor/
#/web/bundles/
.idea
app/SymfonyRequirements.php
app/bootstrap.php.cache
app/check.php
app/logs/dev.log
composer.lock
src/AppBundle/Entity/Doodle.php~
web/bundles/framework
web/bundles/sensiodistribution
web/config.php